img {
  width: 300px;
  height: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 5px grey;
}

img:hover {
  transform: scaleX(-1);
}

body {
  text-align: justify;
}

h1, h2, a {
  font-family: "Sofia", sans-serif;
}